# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/react-news/node_modules

# production
frontend/react-news/build

backend/.vscode
backend/__pycache__
backend/env
